cmake-build-debug
.idea
build
l_systems
line_drawings
wireframes
z_buffered_wireframes
z_buffering
3d_fractals
clipping
ambient
ambient_clipping
diffuse
diffuse_clipping
specular
specular_clipping
shadowing
shadowing_clipping
obj_parser_en_voorbeeld
spheres_and_cylinders
session_powerpoint
Examens
*.bmp
